<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <!--
        <add name="db" connectionString="Data Source=MK_2010\IVANASQL;Initial Catalog=Praksa;Integrated Security=True" />
        <add name="Bankarsko_rabotenje.Properties.Settings.PraksaConnectionString"
            connectionString="Data Source=MK_2010\IVANASQL;Initial Catalog=Praksa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
            -->

        <!-- this is used by dataGrid designer-->
        <add name="Bankarsko_rabotenje.Properties.Settings.PraksaConnectionString"
        connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Praksa;Integrated Security=True"
        providerName="System.Data.SqlClient" />


        <add name="DbConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Praksa;Integrated Security=True"
        providerName="System.Data.SqlCPraksalient"/>


    </connectionStrings>
</configuration>